<div class="nav-bar">
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <a href="#" class="material-icons mdc-toolbar__icon--menu">menu</a>
                <span class="mdc-toolbar__title" style="font-size: 20px ">DEMO</span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <button routerLink="/admin" mat-fab matTooltip="Admin">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_box</mat-icon>
                </button>
                <button routerLink="/login" mat-fab matTooltip="Sign in">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</mat-icon>
                </button>
                <button routerLink="/register" mat-fab matTooltip="Sign up">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person_add</mat-icon>
                </button>
                <!-- <p routerLink="/register" matTooltip="Sign up" matTooltipPosition="below">register</p> -->
            </section>
        </div>
    </header>
</div>
